.steps__exchange {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 32px 15px;
    position: relative;
}
.wrapper__exchange {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #D9D9D9;
}
.exchange {
    display: flex;
    .exchange__title {
        font-family: 'TT Firs Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 24px;
        width: 224px;
    }
    .exchange__button {
        position: absolute;
        bottom: 32px;
        width: 288px;
        height: 48px;
        background: #3E8BF3;
        border: none;
        border-radius: 8px;
        font-family: 'TT Firs Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        left: 50%;
        transform: translate(-50%, 0%);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    } 
    .exchange__button:hover {
        background: #3474CA;
    }
    .exchange__button:active {
        background: #295DA2;
    }
}
.exchange__cards {
    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .card_last {
        padding-bottom: 80px;
    }
    .title {
        font-family: 'TT Firs Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
        margin: 0px 0px 16px 0px;
    }
    .desctiption {
        font-family: 'TT Firs Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #6F767E;
        margin: 0px 0px 32px 0px;
    }
    .bg__icon {
        width: 100%;
        padding-top: 61%;
        background: #F5F9FE;
        border-radius: 6px;
        position: relative;
    }
    .step__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .step1__icon {
        width: 37%;
        height: 46%;
    }
    .step2__icon {
        width: 67%;
        height: 40%;
    }
    .step3__icon {
        width: 29%;
        height: 86%;
    }
    .steps {
        margin: 24px 0px 16px 0px;
        display: inline-block;
        padding: 4px 18px 4px 18px;
        background: #DFD3F7;
        border-radius: 24px;
        font-family: 'TT Firs Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
    }
    .steps2 {
        background: #C0E1EE;
    }
    .steps3 {
        background: #D0E5C2;
    }
}