.header {
    width: 100%;
    padding: 40px 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    .header__gamburger {
        display: none;
    }
    .header__logo {
        width: 131px;
        height: 21px;
    }
    .header__navigation {
        display: flex;
        align-items: center;
    }
    .navigation__link {
        display: flex;
        align-items: center;
        margin: 0px 16px 0px 0px;
    }
    .link__item {
        margin: 0px 35px 0px 0px;
        padding: 0px 0px 1px 0px;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #122947;
        }
    }
    .link__item:hover {
        border-bottom: 1px solid #122947;
    }
    .header__icon {
        display: flex;
        align-items: center;
    }
    .icon__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 30px 0px 0px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .icon__item:last-child{
        margin: 0px;
    }
}
.header-scroll {
    background-color: #ffffff !important;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}