/*reset css */
@import url("./reset.less");

body {
  position: relative;
  font-family: 'Evolventa', sans-serif;
  max-width: 100%;
  --scrollTop: 0px;
  background-color: #fff;
}
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@import url("./mobile_320px/main.less") (max-width: 767px);
@import url("./tablet_768px/main.less") (min-width: 768px) and (max-width: 1439px);
@import url("./desktope_1440px/main.less") (min-width: 1440px);


